html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    width: 90%;
    aspect-ratio: 16/9;
    border: 2px solid black;
}

.tool-btn {
    display: block;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
}

.toolbar-btn {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.toolbar-btn-alt {
    padding-left: 10px;
    padding-right: 10px;
}

.toolbar {
    margin-right: auto;
    margin-left: 0px;
}

.optgroup {
    padding-left: 10px;
    padding-right: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}